<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JagaJalan">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}"/>

        <activity android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.RegisterActivity"
            android:exported="false"/>

        <activity android:name=".MainActivity"
            android:exported="false"/>

        <activity android:name=".activities.CreateReportActivity"
            android:exported="false"/>

        <activity android:name=".activities.DetailReportActivity"
            android:exported="false"/>

        <activity android:name=".activities.HistoryActivity"
            android:exported="false"/>

        <activity android:name=".activities.ProfileActivity"
            android:exported="false"/>

        <activity
            android:name=".admin.AdminDashboardActivity"
            android:exported="false"/>

        <activity
            android:name=".admin.ManageReportsActivity"
            android:exported="false"/>

        <activity
            android:name=".admin.AdminDetailReportActivity"
            android:exported="false"/>

    </application>

</manifest>